.svg-angle-down {
	mask: url('~assets/images/icons/angle-down.svg') no-repeat center / contain;
	-webkit-mask: url('~assets/images/icons/angle-down.svg') no-repeat center / contain;
}

.svg-brackets {
	mask: url('@/assets/images/icons/brackets.svg') no-repeat center / contain;
	-webkit-mask: url('@/assets/images/icons/brackets.svg') no-repeat center / contain;
}

.svg-backend {
	mask: url('@/assets/images/icons/backend.svg') no-repeat center / contain;
	-webkit-mask: url('@/assets/images/icons/backend.svg') no-repeat center / contain;
}

.svg-cms {
	mask: url('@/assets/images/icons/cms.svg') no-repeat center / contain;
	-webkit-mask: url('@/assets/images/icons/cms.svg') no-repeat center / contain;
}

.svg-expand {
	mask: url('@/assets/images/icons/expand.svg') no-repeat center / contain;
	-webkit-mask: url('@/assets/images/icons/expand.svg') no-repeat center / contain;
}

.svg-color-palette {
	mask: url('@/assets/images/icons/color-palette.svg') no-repeat center / contain;
	-webkit-mask: url('@/assets/images/icons/color-palette.svg') no-repeat center / contain;
}

.svg-video {
	mask: url('@/assets/images/icons/video.svg') no-repeat center / contain;
	-webkit-mask: url('@/assets/images/icons/video.svg') no-repeat center / contain;
}

.svg-music {
	mask: url('@/assets/images/icons/music.svg') no-repeat center / contain;
	-webkit-mask: url('@/assets/images/icons/music.svg') no-repeat center / contain;
}

.svg-graduation-cap {
	mask: url('@/assets/images/icons/graduation-cap.svg') no-repeat center / contain;
	-webkit-mask: url('@/assets/images/icons/graduation-cap.svg') no-repeat center / contain;
}

.svg-suitcase {
	mask: url('@/assets/images/icons/suitcase.svg') no-repeat center / contain;
	-webkit-mask: url('@/assets/images/icons/suitcase.svg') no-repeat center / contain;
}

.svg-angle-double-right {
	mask: url('@/assets/images/icons/angle-double-right.svg') no-repeat center / contain;
	-webkit-mask: url('@/assets/images/icons/angle-double-right.svg') no-repeat center / contain;
}

.svg-times {
	mask: url('@/assets/images/icons/times.svg') no-repeat center / contain;
	-webkit-mask: url('@/assets/images/icons/times.svg') no-repeat center / contain;
}

.svg-check-circle {
	mask: url('@/assets/images/icons/check-circle.svg') no-repeat center / contain;
	-webkit-mask: url('@/assets/images/icons/check-circle.svg') no-repeat center / contain;
}

.svg-arrow-up {
	mask: url('@/assets/images/icons/arrow-up.svg') no-repeat center / contain;
	-webkit-mask: url('@/assets/images/icons/arrow-up.svg') no-repeat center / contain;
}
